@{
    ViewData["Title"] = "Mini ATM";
}

<div class="text-center m-5">
    <h1 class="display-4">Mini ATM</h1>
</div>

<div class="container">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="d-flex align-items-center justify-content-center">
                    <a href="corebanking/choosebankaccount?returnurl=transfer" class="btn btn-primary mx-auto shadow">Transfer</a>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center justify-content-center">
                    <a href="corebanking/choosebankaccount?returnurl=withdraw" class="btn btn-primary mx-auto shadow">Withdraw</a>
                </div>
            </div>
        </div>
    </div>
</div>
